p, h1, .budget__title, .budget__value, .budget__income--text, .budget__income--value, .budget__income--percentage, .budget__expenses--text, .budget__expenses--value, .budget__expenses--percentage, .bottom {
    text-align: center;
}

.jumbotron {

}

.right { float: right; }
.red { color: #FF5049 !important; }
.red-focus:focus { border: 1px solid #FF5049 !important; }